# Ignore Node.js modules
node_modules/

# Ignore build output
dist/

# Ignore temporary files
*.log
*.tmp
*.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific settings
.vscode/
.idea/
